---
import Layout from "@/layouts/Layout.astro";
import { Search } from "@/components/Search.jsx";
import NavBar from "@/components/NavBar.astro";
import { ToolsList } from "@/components/ToolsList.jsx";
import data from "@/lib/toolbox.json";
import SocialsFooter from "@/components/SocialsFooter.astro";

const categories = Object.entries(data.resources);

function getAllItems(categoryData: any[], categoryKey: string) {
  const items = [];

  if (categoryData.items) {
    items.push(
      ...categoryData.items.map((item: any) => ({
        ...item,
        category: categoryKey,
      })),
    );
  }

  if (categoryData.subcategories) {
    Object.values(categoryData.subcategories).forEach((subcat: any) => {
      if (subcat.items) {
        items.push(
          ...subcat.items.map((item: any) => ({
            ...item,
            category: categoryKey,
          })),
        );
      }
    });
  }

  return items;
}

const allTools = categories.flatMap(([categoryKey, categoryData]: any) =>
  getAllItems(categoryData, categoryKey),
);
---

<Layout title="Tools | Dev Toolbox" hideContent={false}>
  <NavBar />
  <h2
    class="bg-gradient-electric bg-clip-text text-transparent text-[1.8rem] flex justify-center gap-6 w-fit absolute -top-1 left-1/2 -translate-x-1/2 z-200 font-medium uppercase do-hyeon"
  >
    Dev Toolbox
  </h2>

  <h1
    class="text-center text-white font-bold text-[1.8rem] w-[40%] mx-auto mt-10 title-inner-shadow"
  >
    Explore the largest development toolbox with the best tools.
  </h1>

  <Search client:load />

  <ToolsList client:only="react" allTools={allTools} />

  <div class="mt-5 h-0.5 w-[80%] mx-auto bg-purple-100/40 rounded-full"></div>

  <section class="py-2">
    <div class="flex flex-col items-center gap-2">
      <h2 class="text-center text-white font-bold text-xl">
        Follow me on my social media!
      </h2>
      <h3 class="text-white">
        Made with ❤️ by <b>0xRef</b> &copy; 2026 Dev Toolbox
      </h3>
    </div>

    <SocialsFooter />
  </section>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

  .do-hyeon {
    font-family: "Do Hyeon";
  }

  .title-inner-shadow {
    background-color: white;
    color: transparent;
    text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.622);
    -webkit-background-clip: text;
    background-clip: text;
  }

  :global(.card-3d) {
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    transform-style: preserve-3d;
  }

  :global(.card-3d:hover) {
    transform: scale3d(1.015, 1.015, 1.015) translateZ(20px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  }

  :global(.line-clamp-2) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
